/* universal layout */
html {
    font-size: $font_size;
}
body {  
    font-family: Roboto, Arial, sans-serif; 
    font-size: 0.9rem;
    background: $bgcolor;
    background-image: url('$background_image');
    background-attachment: fixed;
    background-size: cover;
    color: $font_color;
    margin: 0px;
}
#region_2, aside {
    padding: 5.5rem 7px;
}
main {
    margin-left: auto;
    margin-right: auto;
    max-width: $main_widthpx;
}
aside {
    width: $aside_widthpx;
    min-width: $aside_widthpx;
    max-width: $aside_widthpx;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $mid_shade;
    cursor: pointer;
    z-index: 1028;
}
@media screen and (max-width: 992px) {
    aside#region_1 {
	border-right: 1px solid $nav_bd;
    }
    main {
	left: -$aside_widthpx;
	width: calc( 100% + $aside_widthpx );
    }
    main.region_1-on {
	left: 0px;
    }
    #nav-app-link-wrapper {
	min-width: 0;
	flex-basis: 25%;
    }
    #navbar-collapse-2 .navbar-app i {
	font-size: 0.9rem;
	margin-right: 0.5rem;
    }
    .navbar-dark .navbar-toggler {
        color: $link_color !important;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
}
img {
    border-radius: $radius;
}
audio, video {
    border-radius: $radius;
    box-shadow: $shadow;
    width: 100%;
}
.navbar-toggler-right .fa{
    font-size: 1.4rem;
}

/* text */
h1, .h1 { font-size: 2rem }
h2, .h2 { font-size: 1.6rem }
h3, .h3 { font-size: 1.2rem }
h4, .h4 { font-size: 1.05rem }
h5, .h5 { font-size: 0.9rem }
h6, .h6 { font-size: 0.75rem }

a { 
    text-decoration: none;
    color: $link_color;
} 
a:hover {
    color: $link_hover;
}
code {
    background-color: $subtle_shade;
    display: block !important;
    padding: 0.5rem !important;
    overflow-wrap: break-word;
    white-space: normal;
}
li .fa, li i { 
    font-size: 1.2rem;
}
blockquote {
    font-style: italic;
    border-left: 2px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
}
.descriptive-text, ::placeholder, .text-muted {
    color: $mid_shade !important;
}
.text-success {
    color: $success !important;
}
.item-highlight {
    border-left: 0.2rem solid $action;
}
.alert-warning {
    background: $warning;
    color: #222;
    border: none;
}
.text-black-50, .text-dark {
    color: $font_color !important;
}
::selection {
    background: $primary;
    color: $font_contrast_color;
}

/* buttons */
.btn {
    border-radius: $radius;
    border: none !important; 
    padding: 0.5rem 1rem;
}
.btn:hover {
    border: none !important; 
}
.btn-primary:active,
.btn-primary:hover,
.btn-success:active,
.btn-success:hover,
.btn-warning:active,
.btn-warning:hover,
.btn-danger:active,
.btn-danger:hover,
.btn.disabled, 
.btn:disabled, 
fieldset:disabled .btn,
.btn-danger,
.btn-warning,
.btn-primary,
.btn-success {
    color: $font_contrast_color !important;
}
.btn-primary {
    background-color: $primary;
}
.btn-primary:active,
.btn-primary:hover {
    background-color: $link_hover !important;
}
.btn-outline-success {
    color: $success;
}
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-success {
    background-color: $success;
}
.btn-success:active,
.btn-success:hover {
    background-color: $action !important;
}
.btn-warning {
    background-color: $warning;
}
.btn-warning:active,
.btn-warning:hover {
    background-color: #b4a223 !important;
}
.btn-danger {
    background-color: $danger;
}
.btn-danger:active,
.btn-danger:hover {
    background-color: #9c2529 !important;
}
.btn-outline-secondary {
    color: $mid_shade;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: $mid_shade;
}
.btn.disabled, 
.btn:disabled, 
fieldset:disabled .btn {
    background-color: $mid_shade;
}
#inline-btn {
    display: none;
}

/* nav and dropdowns */
.navbar-nav {
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.navbar-nav .dropdown-menu {
    left: -208px;
}
.dropdown-menu {
    background-color: $overlaybg;
}
.dropdown-item:hover {
    background-color: $primary;
    color: $font_contrast_color;
}
#navbar-collapse-1  i {
    font-size: 1.4rem
}
.bg-dark {
    background-color: $overlaybg !important;
}
.bg-primary {
    background-color: $primary !important;
}
.navbar {
    padding: 0.5rem 1rem;
    z-index: 1050;
    margin-bottom: 2rem;
    box-shadow: 0 1px 10px $mid_shade;
}
.navbar-dark .navbar-nav .nav-link,
.usermenu i {
    color: $link_color;
}
.nav-pills .nav-link,
.nav-tabs .nav-link {
    border-radius: $radius;
    color: $link_color;
}
.navbar-dark .navbar-nav .nav-link:hover,
.usermenu i:hover,
.nav-pills .nav-link:hover,
.nav-tabs .nav-link:hover {
    color: $link_hover;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $link_color;
}
.nav-pills .nav-link.active:hover, .nav-pills .show>.nav-link:hover {
    color: $font_contrast_color;
}
#nav-search-spinner {
    float: right;
    margin-top: -1.4rem;
    margin-right: 1rem;
}
#nav-search-text {
    width: 280px;
    padding: .15rem .5rem;
}
nav .acpopup {
    top: 46px !important;
    margin-left: -35px;
    width: 290px;
}
.sub-menu-wrapper {
    padding-left: 1rem;
    display: none;
}
.sub-menu {
	width: 100%;
	margin-top: 0.5rem;
	padding-left: 1rem;
	border-left: 0.2rem solid #ccc;
}
#menulist {
    list-style-type: none;
}
.dropdown-menu {
    color: $link_color;
    font-size: 0.9rem;
    border-radius: $radius;
    border-color: $border_color;
    box-shadow: $shadow;
    --bs-dropdown-link-active-bg: $secondary;
}
.dropdown-item {
    color: $link_color;
    font-size: 0.9rem;
}
.wall-item-lock .dropdown-menu {
    min-width: 20rem;
    padding: 5px;
}
.menu-img-1, .menu-img-2, .menu-img-3 {
    margin-right: 5px;
    border-radius: $radius;
    float: left;
}
.menu-img-3 {
    width: 3.3em;
    height: 3.3em;
}
.menu-img-2 {
    height: 2.2em;
    width: 2.2em;
}
.menu-img-1 {
    height: 1.3em;
    width: 1.3em;
}
.usermenu {
    padding:0 1rem;
    width: 7rem;
}
#avatar, .nav-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: $radius;
}
#nav-app-link {
    padding: 0 !important;
    line-height: 1.2;
    white-space: nowrap;
}

/* notifications in right sidebar */
.badge { 
    color: $font_color;
}
#notifications_wrapper { 
    padding: 1rem;
}
#notifications .badge { 
    padding: 0.3rem 0.5rem;
    float: right ;
}
#notifications a {
    display: inline-block;
}
#notifications i {
    font-size: 1.2rem;
}
#notifications .collapse {
    width: 100%;
}
@media (max-width: 991px ) {
    #notifications {
        margin-top: 4rem;
    }
}
#notifications .collapse .list-group-item {
    padding: 1rem;
}
#notifications .collapse .list-group-item:hover {
    background: $overlaybg;
}
#notifications .notifications-textinput-filter {
}
.collapse #nav-stream-sub,
.collapse #nav-home-sub,
.collapse #nav-moderate-sub,
.collapse #nav-intros-sub,
.collapse #nav-files-sub,
.collapse #nav-notify-sub,
.collapse #nav-forums-sub,
.collapse #nav-register-sub,
.collapse #nav-all_events-sub {
    border: $border;
}
.collapse #nav-stream-sub .list-group-item,
.collapse #nav-home-sub .list-group-item,
.collapse #nav-moderate-sub .list-group-item,
.collapse #nav-intros-sub .list-group-item,
.collapse #nav-files-sub .list-group-item,
.collapse #nav-notify-sub .list-group-item,
.collapse #nav-forums-sub .list-group-item,
.collapse #nav-register-sub .list-group-item,
.collapse #nav-all_events-sub .list-group-item{
    border: 0;
    background: $subtle_shade;
    border-radius: 0 !important;
}
.collapse #nav-stream-menu,
.collapse #nav-home-menu,
.collapse #nav-moderate-menu,
.collapse #nav-intros-menu,
.collapse #nav-files-menu,
.collapse #nav-notify-menu,
.collapse #nav-forums-menu,
.collapse #nav-register-menu,
.collapse #nav-all_events-menu{
    padding: 0.5rem 1rem;
    background: $subtle_shade;
}
#nav-notifications-template,
#nav-notifications-forums-template {
    display: none;
}
.notification-link .register-update,
.notification-link .intros-update {
    background-color: $success !important;
    color: $font_contrast_color !important;
    font-size: 0.85rem;
}
.channel-notification .text-danger {
    color: $font_color !important;
    font-size: 0.85rem;
}
.notification-link .all_events-update,
.notification-link .stream-update,
.notification-link .home-update,
.notify-update {
    background-color: $primary !important;
    color: $font_contrast_color !important;
    font-size: 0.85rem;
}
.notification-link .files-update,
.notification-link .forums-update {
    background-color: $mid_shade !important;
    color: $font_contrast_color !important;
    font-size: 0.85rem;
}
.notification-link .moderate-update {
    background-color: $warning !important;
    font-size: 0.85rem;
}
.notification.notification-forum {
    font-size: 0.9rem;
    color: $font_color;
}


/* general section layouts */
.generic-content-wrapper, 
.generic-content-wrapper-styled, 
.panel, 
.widget { 
    border: $border;
    border-radius: $radius;
    margin-bottom: 1rem;
    box-shadow: $shadow;
    background-color: $overlaybg;
    padding: 1rem;
}
.section-content-wrapper-np {
    background-color: $overlaybg;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    word-wrap: break-word;
}
.section-content-tools-wrapper {
    padding: 7px 10px;
    background-color: $overlaybg;
    border-bottom: 3px solid $overlaybg;
}
.list-group-item {
    padding: .75rem 1.25rem;
    background-color: $overlaybg;
    border: $border;
    border-radius: $radius !important;
}
main.fullscreen {
    left: 0px;
    width: 100%;
    height: 100vh;
    max-width: none;
}
main.fullscreen .generic-content-wrapper {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    border-radius: 0px;
    border-width: 0px;
}
main.fullscreen .section-title-wrapper {
    border-radius: 0px;
    position: sticky;
    top: 0;
    z-index: 1020;
}
main.fullscreen .section-content-wrapper,
main.fullscreen .section-content-wrapper-np {
    border-radius: 0px;
}

/* popups and notifications */
div.jGrowl div.notice {
    background-color: $secondary;	
    color: $font_contrast_color;
    padding: 1rem;
}
.jGrowl-message a {
    color: $font_contrast_color;
    text-decoration: underline;
}
div.jGrowl div.info {
    background-color: $primary;	
    color: $font_contrast_color;
    padding: 1rem;
}
#jGrowl.top-right {
    top: 4.5rem;
    left: 150px;
}
div.jGrowl div.jGrowl-notification {
    min-height: 60px;
}
.dropdown-notification,
.notification,
.member-item {
    line-height: 1.2em;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}
.acpopup li div.taggable {
    color: $danger;
}
.modal-content { 
    background-color: $overlaybg;
}
.modal-content .section-content-wrapper { 
    padding: 1rem;
}
.modal-content #acl-select { 
   width: 400px;
}
.modal-header .btn-close {
    color: $font_color !important;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
.btn-close {
    --bs-btn-close-focus-shadow: none;
}
/* pmenu */
.pmenu.horizontal {
    padding: 0;
    border-bottom: none;
}
.pmenu.horizontal .pmenu-title {
    display: none;
}
.pmenu.horizontal ul {
    -moz-padding-start: 0;
}
.pmenu.horizontal li {
    margin-left: 0;
    display: inline;
    padding-right: 1rem;
}
.pmenu ul {
    list-style-type: none;
}

/* general forms */
.form-control.btn-primary {
    background-color: $primary;
}
.form-control.btn-primary:active, 
.form-control.btn-primary:focus {
    box-shadow: none !important;
    border: none !important;
}
.form-control, 
.form-control:active, 
.form-control:focus { 
    background-color: $overlaybg;
    border: $border;
}
.form-control.btn-success {
    background-color: $success;
}
input {
    background: $primary;
    color: $font_contrast_color;
    border-radius: $radius;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
input, optgroup, select, textarea {
    font-size: 0.9rem !important;
}
input[type=text], textarea {
    resize: vertical;
    background-color: $overlaybg;
    color: $font_color;
}
input:active, 
input:focus, 
select:active, 
select:focus, 
textarea:focus,
textarea:active { /* changing the blue glow in forms */
    box-shadow:0 0 5px $mid_shade !important;
    border: 1px solid $mid_shade !important;
}
input, textarea {
    border-radius: $radius;
    border: $border !important;
}
.fakelink {
    color: $link_color;
    text-decoration: none;
}
.fakelink:hover,
.fakelink:focus {
    color: $link_hover;
}
.fakelink,
.cursor-pointer {
    cursor: pointer;
}
.required {
    color: $danger;
}
.form-group {
    margin: 10px;
}
#slider-container {
    align-items: center;
}
#main-range, #affinity-range, #contact-range {
    background-color: $font_color;
    border: none !important;
    width: 90%;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    height: 2px;
    
}
/* language selections */
#language-selector select {
    background-color: $overlaybg;
    color: $font_color;
    border: $border;
    padding: 0.3rem;
    border-radius: $radius;
}
/* affinity widgets */
#affinity-range:focus, 
#affinity-range:hover, 
#contact-range:focus, 
#contact-range:hover, 
#main-range:focus, 
#main-range:hover { 
    box-shadow: none !important;
}
#main-range::-webkit-slider-thumb,
#affinity-range::-webkit-slider-thumb, 
#contact-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0 1.2rem;
    background: $primary;
    cursor: pointer;
    border: none;
    border-radius: 0.8rem;
}
#main-range::-moz-range-thumb,
#affinity-range::-moz-range-thumb,
#contact-range::-moz-range-thumb {
    width: 1.2rem;
    height: 1.2rem;
    background: $primary;
    cursor: pointer;
    border: none;
    border-radius: 0.8rem;
}

/* jot */
.mb-4 {
    margin-bottom: 0 !important;
    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $overlaybg;
    padding: 1rem;
}
#profile-jot-form {
    margin-bottom: 1rem;
}
#profile-jot-text {
    line-height: 1.4rem !important;
}
#jot-text-wrap {
    position: static;
}
#jot-title, #jot-pagetitle, #profile-jot-text, #jot-category {
    border-radius: $radius;
}
#jot-title, #jot-pagetitle {
    margin: 0.5rem 1%;
    width: 80%;
}
.bootstrap-tagsinput {
    background-color: $overlaybg;
    border: none;
    box-shadow: none;
}
.bootstrap-tagsinput .tag {
    color: $font_color;
}
.bootstrap-tagsinput input,
#jot-category { 
    padding: 0.5rem;
    border: $border !important;
    margin-left: 1px;
}
#jot-category,
.jot-expanded {
    margin: 0rem 1% 0.5rem;
    width: 98% !important;
}    
.m-1 { /* the cancel button on jot */
    margin: 0.5rem !important;
}
.float-start.border-0 {
    border: $border !important;
}
#jot-title-wrap, #jot-pagetitle-wrap, #jot-category-wrap, #jot-summary-wrap {
    border-bottom: none;
}
#profile-jot-submit-wrapper {
    border-top: none;
}

/* login page */
.login-button{
    margin: auto 3%;
    width: 94%;
}
#login-extra-links, .d-grid {
    margin: auto 5.5%;
    width: 89%;
}
#login-main, .rmagic-button {
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* js slider */
.jslider {
	font-family: sans-serif, arial, freesans;
}
.jslider .jslider-scale ins {
    color: #333;
    font-size: 0.9rem;
    width: 100px;
    text-align: center;
}

/* conversations */
.thread-wrapper { /*take the wrapper padding off the main stream */ 
    padding: 0;
}
.p-2 { /* add it for the thread elements */
    padding: 1rem!important;
}
.wall-item-tools {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.wall-item-tools .fa {
    font-size: 1rem;
}
.wall-item-photo {
    width: $top_photo;
    height: $top_photo;
    border-radius: $radius;
    padding: 0.25rem;
}
.wall-event-item {
    padding: 1rem;
    background-color: $banner_color; 
    border-radius: $radius;
    margin-bottom: 0.5rem;
}
.wall-item-title.h3 {
    background-color: $overlaybg !important;
    color: $font_color !important;
}
.wall-item-head {
    padding-bottom: 0 !important;
}
.wall-item-head-new {
    border-top: none;
}
i.fa-chevron-down, 
i.fa-chevron-up {
    font-size: 1.4rem;
}
.wall-item-tools-left .dropdown-item {
    width: max-content;
}
.wall-item-comment-wrapper {
    background: $subtle_shade;
}
.wall-item-conv {
    background-color: $overlaybg;
}
.wall-item-footer {
    font-size: 0.75rem;
}
.wall-item-tools i.ivoted {
    color: $secondary;
}
.hide-comments-outer {
    padding-left: 1rem;
}
.reshared-content { 
    margin-left: 20px; 
}
.shared_header img {
    border-radius: $radius;
    margin-right: 10px;
}
div#write-pages {
   display: block;
   background: $subtle_shade;
   width: 100%;
}
div#write-pages a {
   margin-right: 50px;
}
#profile-location-wrapper.btn-outline-secondary:active,
#profile-location-wrapper.btn-outline-secondary:hover {
    background-color: $overlaybg;
    color: $link_hover;
}

/* tables */
.table, table {
    background-color: $overlaybg;
    --bs-table-bg: $overlaybg;
    border-spacing: 2px;
    max-width: 100%;
}
th,td {
    padding: 0.2rem;
}
td {
/* there was random basic blue */
    color: $font_color !important;
}
#channels > tbody > tr > td, #users > tbody > tr > td {
    max-width: 19.4em;
    overflow: hidden;
}
#adminpage table tr:hover {
    background-color: #ccc;
}
.notify-seen {
    background-color: $overlaybg;
}

/* app- or widget-specific changes */
#main-slider, #affinity_slider { /* for the affinity app in the main thread */
    margin: 0 0 1rem;
    padding: 1rem;
    background-color: $overlaybg;
    border-radius: $radius;
    border-color: $border_color;
    box-shadow: $shadow;
}

/* profile matching */
.suugestions-widget {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.profile-match-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: $radius;
    margin: 1.5rem 0;
}
.profile-match-photo img{
    height: auto;
    width: 100px;
    margin-bottom: 2px;
}
.profile-match-name {
    margin-left: 5px;
    max-width: 90px;
    word-wrap: break-word;
    overflow: hidden;
}
.profile-match-ignore {
    color: $danger;
    padding: 0.2rem 0.5rem;
}
.profile-match-ignore:hover, 
.profile-match-ignore:active,  {
    color: $overlaybg !important;
    background-color: $danger !important;
}
.profile-match-connect { 
}
.suggest-connect-btn {
}

/* contacts */
.contact-block-div {
    display: inline;
}
.contact-photo-caret {
    position: absolute;
    left: 3px;
    bottom: 0px;
    color: $font_contrast_color;
    display: none;
}
.contact-photo-wrapper {
    position: relative;
}
.contact-photo-wrapper:hover .contact-photo-caret {
    display: block;
}
.contact-block-content {
    margin-top: 10px;
}
.contactname {
    font-weight: bold;
    color: $font_color;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.oneway-overlay {
    position: absolute;
    text-shadow: none;
    margin-top: 0px !important;
    margin-left: -22px !important;
    color: $danger !important;
    opacity: 1 !important;
}
.mpfriend .oneway-overlay {
    margin-top: 0.1rem !important;
}
img.mpfriend {
    margin: 0.2rem 0.1rem;
}

/* vcard */
#profile-photo-wrapper img {
    width: 100%;
    height: auto;
}
#profile-photo-wrapper {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: $radius;
}
.vcard-photo {
    border: none;
}
.fn {
    text-align: center;
    color: $link_color;
    font-size: 1.2rem;
}
.fn.p-name {
    margin-bottom: 1rem;
}
#profile-reddress {
    word-wrap: break-word;
}
.profile-edit-side-link {
    padding: 3px 0;
    float: right;
}
.profdm-btn-wrapper {
    display: flex;
    justify-content: center;
}
.identities {
    margin-bottom: 0;
    padding-bottom: 0;
}
.identities dd {
    margin-bottom: 0;
}
.identities br {
    display: none;
}
.identity-table {
    width: 230px;
    display: table;
    table-layout: fixed;
    padding: 0;
    margin-bottom: 0;
}
.identity-name-td {
    width: 200px;
    padding-top: 0.5rem;
    padding-bottom: 0;
}
.identity-checked-td {
    width: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0;
}
.identity-checked-td .fa-check{
    color: $success !important;
}
.identity-name-inner, .identity-url-inner {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 225px;
}
.identity-url-td {
    padding-bottom: 1.2rem;
    padding-top: 0;
}

/* photos */
.photo,
.contact-block-img {
    border-radius: $radius;
}
#side-bar-photos-albums {
    margin-top: 1rem;
}
#side-bar-photos-albums ul {
    list-style: none;
}
#photo-view-wrapper {
    background-color: $overlaybg;
}
#cropimage-wrapper,
#cropimage-preview-wrapper {
    margin-bottom: 10px;
}
.directory-photo-img {
    border-radius: $radius;
}

/* cloud file photo area */
#cloud-drag-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.cloud-modal-container,
.cloud-container {
    width: 130px;
    margin: 1rem 0.5rem;
}
.cloud-icon i {
    font-size: 4rem;
    color: $link_color;
    margin-top: 8px;
    margin-left: 6px;
}
.cloud-icon i:hover {
    color: $link_hover;
}
.cloud-icon img {
    max-width: 100px;
    max-height: 100px;
    border-radius: $radius;
}
.cloud-title {
    overflow: hidden;
}
.justified-gallery {
    margin: 1rem 0 0.5rem;
}

/* calendar and events */
fc-event .fc-bg {
    margin: 0.25rem;
}
.fc-event, .fc-event .fc-bg {
    background-color: $primary !important; /*calendar color */
    border-color: $primary !important;
}
.fc-event-dot {
    background-color: $primary !important; /*calendar color */
}
.fc-unthemed td.fc-today {
    background: $subtle_shade !important;
}
.fc-event-container, 
.fc-unthemed .fc-divider, 
.fc-unthemed .fc-popover .fc-header, 
.fc-unthemed .fc-list-heading td {
    background-color: $subtle_shade !important;
}
.event-buttons .fa {
    font-size: 1.4rem;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, 
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, 
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
/* fixing calendar color stuff */
    background: $secondary;
    box-shadow: none;
    color: $font_contrast_color;
    font-weight: 700;
}

/* pager */
.pager {
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}
.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n { 
    border: $border;
    background: transparent;
    padding: 4px;
}
.pager_current {
    border: 1px solid transparent;
    background: transparent;
    padding: 4px;
}

/* colorbox */
#cboxOverlay {
    z-index: 1050;
}
#colorbox {
    z-index: 1051;
}
#cboxContent {
    padding: 3px;
    border: none;
    border-radius: $radius;
    background-color: $overlaybg;
    z-index: 1052;
}

/* tags */
#tag-remove {
    margin-bottom: 1rem;
}
#tagrm li {
    margin-bottom: 10px;
}
#tagrm-submit, #tagrm-cancel {
    margin-top: 25px;
}
#tagrm-cancel {
    margin-left: 1rem;
}
.tags span {
    color: $link_color;
}
.tags a {
    margin:0.2rem;
}
.tag1 { font-size : 0.9em !important }
.tag2 { font-size : 1.0em !important }
.tag3 { font-size : 1.1em !important }
.tag4 { font-size : 1.2em !important }
.tag5 { font-size : 1.3em !important }
.tag6 { font-size : 1.4em !important }
.tag7 { font-size : 1.5em !important }
.tag8 { font-size : 1.6em !important }
.tag9 { font-size : 1.7em !important }
.tag10 { font-size : 1.8em !important }

/* app collections */
.app-container {
    width: 29%;
    padding: 1rem;
    margin: 1rem;
    border: $border;
    border-radius: $radius;
}
@media (min-width: 715px) { 
    .app-container { width: 29%; } 
} 
@media (max-width: 714px) and (min-width: 540px) { 
    .app-container { width: 43%; } 
} 
@media all and (max-width: 539px) { 
    .app-container { width: 90%; } 
} 
.app-container:hover {
    background-color: $subtle_shade;
}
.app-container img {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    display: block;
}
.app-icon {
    color: $primary;
    font-size: 50px;
    text-shadow: none;
}
.app-detail {
    text-align: center;
}
.app-detail .app-name {
    font-size: 1.1rem;
    color: $primary;
}
.app-name {
    overflow: none;
}
.app-title {
	margin: 10px;
}
.fa-star, .fa-thumb-tack { 
    font-size: 1.1rem; 
}
.fa-star.text-warning { 
    color: $warning !important;
}
.fa-thumb-tack.text-success { 
    color: $action !important;
}

/* mail */
img.mail-conv-sender-photo {
    border-radius: $radius;
}

/* misc items */
.acl-button-hide, .acl-button-show {
    float: right;
}
#help-content img {
    max-width: 100%;
}
.progress, .progress-stacked {
    --bs-progress-bar-bg: $primary;
}
.progress-bar {
    background-color: $primary;
}
.clear {
    clear: both;
}
#note-text {
    border-radius: $radius;
}
#theme-credits a {
    color:$link_color;
}
#theme-credits a:hover {
    color: $link_hover;
}
#theme-preview {
    margin: 1rem 0px;
}
#theme-preview img,
.screenshot img {
    border: $border;
    border-radius: $radius;
    max-width: 100%;
}
.notif-image {
    height: 80px;
    width: 80px;
    margin-right: 1rem;
}
.caption-visible {
    max-height: 75%;
}
.group-delete-wrapper {
    float: right;
}
.permission-inherited {
    float: left;
    margin-right: 10px;
    color: $danger;
}
.perm-inherited {
    color: $danger;
}
.channel-photo { padding: 0.5rem }
.channel-active {
    border: 5px solid $subtle_shade;
}
#channel_role_text {
    margin-bottom: 10px;
}
.shareable_element_text {
    height: 300px;
    width: 300px;
}
#pause {
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.hover-fx-hide  {
    opacity: 0;
}
.hover-fx-show:hover .hover-fx-hide {
    opacity: 1;
}

/* jumping dots */
.jumping-dots span {
    position: relative;
    bottom: 0px;
    transition-timing-function: ease-in-out;
    -webkit-animation: jump 1s infinite;
    animation: jump 1s infinite;
}
.jumping-dots .dot-1 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.jumping-dots .dot-2 {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}
.jumping-dots .dot-3 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}
@-webkit-keyframes jump {
    0% { bottom: 0px; }
    20% { bottom: 3px; }
    40% { bottom: 0px; }
}
@keyframes jump {
    0% { bottom: 0px; }
    20% { bottom: 3px; }
    40% { bottom: 0px; }
}

/* toggle switches */
.form-group.checkbox input {
    display: none;
}
.form-group.checkbox > div {
    position: relative; 
    width: 40px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    display:inline-block;
}
.form-group.checkbox > div label {
    display: block; 
    overflow: hidden;  
    cursor: pointer;
    border: $border;
    border-radius: 1rem;
    margin:0px;
}
.onoffswitch-inner {
    display: block; 
    margin-left: -100%;
}
.onoffswitch-inner:before, 
.onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 20px; 
    padding: 0; 
    line-height:20px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: attr(data-on); 
    color: rgba(0,0,0,0);
}
.onoffswitch-inner:after {
    content: attr(data-off);
    color: rgba(0,0,0,0);
}
.onoffswitch-switch { 
    display: block; 
    width: 1rem; 
    margin: 4px;
    background: $mid_shade;
    border-radius: 10px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 17px;  
}
.form-group.checkbox > div > input:checked + label .onoffswitch-inner {
    margin-left: 0px;
}
.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    right: 0px;
    background-color: $action;
}
.form-group.checkbox > div > input:disabled + label .onoffswitch-switch {
    background-color: #ccc;
}

/* bootstrap color overrides */
:root, [data-bs-theme=light] {
    --bs-blue: #144c6e;
    --bs-red: #d13f43;
    --bs-yellow: #d5c029;
    --bs-green: #02b160;
    --bs-gray: $mid_shade;
    --bs-gray-dark: #666;
    --bs-gray-100: #eee;
    --bs-gray-200: #ddd;
    --bs-gray-300: #ccc;
    --bs-gray-400: #aaa;
    --bs-gray-500: #888;
    --bs-gray-600: #666;
    --bs-gray-700: #444;
    --bs-gray-800: #222;
    --bs-gray-900: #111;
    --bs-primary: $primary;
    --bs-secondary: $secondary;
    --bs-success: $success;
    --bs-info: $action;
    --bs-warning: $warning;
    --bs-danger: $danger;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: $primary;
    --bs-secondary-rgb: $secondary;
    --bs-success-rgb: $success;
    --bs-info-rgb: $action;
    --bs-warning-rgb: $warning;
    --bs-danger-rgb: $danger;
    --bs-light-rgb: $subtle_shade;
    --bs-dark-rgb: $contrast_sahde;
    --bs-font-monospace: "Liberation Mono","Courier New",monospace;
    --bs-body-font-size: 0.9rem;
    --bs-body-color: $font_color;
    --bs-body-color-rgb: $font_color;
    --bs-link-color: $link_color;
    --bs-link-color-rgb: $link_color;
    --bs-link-decoration: none;
    --bs-link-hover-color: $link_hover;
    --bs-link-hover-color-rgb: $link_hover;
    --bs-code-color: $font_color;
    --bs-highlight-bg: $subtle_shade;
    --bs-border-color: #ccc;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: $radius;
    --bs-box-shadow: $shadow;
    --bs-form-valid-color: $success;
    --bs-form-valid-border-color: $success;
    --bs-form-invalid-color: $danger;
    --bs-form-invalid-border-color: $danger;
    --bs-primary-text-emphasis: $font_color;
    --bs-secondary-text-emphasis: $font_color;
    --bs-success-text-emphasis: $font_color;
    --bs-info-text-emphasis: $font_color;
    --bs-warning-text-emphasis: $font_color;
    --bs-danger-text-emphasis: $font_color;
    --bs-light-text-emphasis: $font_contrast_color;
    --bs-dark-text-emphasis: $font_color;
    --bs-primary-bg-subtle: #ccc;
    --bs-secondary-bg-subtle: #ccc;
    --bs-success-bg-subtle: #eefff7;
    --bs-info-bg-subtle: #ccc;
    --bs-warning-bg-subtle: #f9f5dd;
    --bs-danger-bg-subtle: #fbeded;
    --bs-light-bg-subtle: #ccc;
    --bs-dark-bg-subtle: $contrast_shade;
    --bs-primary-border-subtle: #ccc;
    --bs-secondary-border-subtle: #ccc;
    --bs-success-border-subtle: #eefff7;
    --bs-info-border-subtle: #ccc;
    --bs-warning-border-subtle: #f9f5dd;
    --bs-danger-border-subtle: #fbeded;
    --bs-light-border-subtle: #ccc;
    --bs-dark-border-subtle: $contrast_shade;
}
